apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: morpho
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management
          imagePullPolicy: IfNotPresent
          ports:
            - name: amqp
              containerPort: 5672
            - name: http
              containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: 'morpho'
            - name: RABBITMQ_DEFAULT_PASS
              value: 'StrongPassword123!'
